.App {
  text-align: center;

  background-image: linear-gradient(#07031a, #00909e);
}

.app_form {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;

  background-image: linear-gradient(#f4ea8e, #e8ead3);
  width: 70vw;
  margin: 20px;
  border-radius: 35px;
}

.app__formControl {
  display: flex !important;
  align-items: center;
  flex-direction: row !important;
}
.Icon_button {
  flex: 0;
}
.Input {
  flex: 1;
  color: #0b0d0f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AkhilColor {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
