.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message__user {
  margin-left: auto;

  text-align: left !important;
}
.message__userCard {
  background-image: linear-gradient(#e71414, #ff847c) !important;
}

.message__guestCard {
  background-image: linear-gradient(#f17808, #fbd46d) !important;
}
